<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.ssh">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <application>
    <service
      android:name=".SshForegroundService"
      android:foregroundServiceType="dataSync"
      android:exported="false" />
  </application>

</manifest>
